// 03/BASE - NORMALISE

html {
  min-height: 100%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: block;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

small {
  font-size: 80%;
}

select {
  font: inherit;
  cursor: pointer;
}
