// 07/COMPONENTS - RESULT

.c-result {
  display: none;
  flex-wrap: wrap;

  &.isVisible {
    display: flex;
  }

  dt,
  dd {
    flex: 1 0 50%;
    margin-bottom: rem(8px);

    &:last-child,
    &:nth-last-child(2) {
      margin: 0;
    }
  }

  dd {
    text-align: right;
    color: darken($text, 10);
  }
}
