// 07/COMPONENTS - THIS MONTH LIST

.c-thisMonthList {
  display: none;
  list-style: none;

  &.hasBirthdays {
    display: block;
  }

  &_person {
    display: flex;
    padding: rem(12px);

    &:nth-child(odd) {
      background: lighten($brand-b, 10);
    }
  }

  &_days {
    margin-left: auto;
  }
}
