// 01-SETTINGS/TYPOGRAPHY

$font-url              : 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

// FONT SETTINGS (GLOBAL)
$font-family           : 'Open Sans', sans-serif;
$font-size             : 100%;
$line-height           : $line-height-px / $font-size-px;
